@import '_colors';
@import '_header';
@import '_rental-home';
@import '_rental-detail';
@import './forms';

html, body {
  height: 100%;
}

.all-container {
  padding-top: 70px;
}

.rental-link {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.type- {
  &apartment {
    color: rebeccapurple;
  }

  &house {
    color: goldenrod;
  }

  &condo {
    color: yellowgreen;
  }
}

.navbar-dark .navbar-nav {

  .nav-link {
    &:hover {
      color: $main-app-color;
    }
  }

  .nav-item {
    .nav-link {
      &:hover {
        color: $main-app-color;
      }
    }
  }
}
